<div class="wrapper">
  <div class="card-example" highlightOverlay [enabled]="highlightVisibility">
    <h4>Heading</h4>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </div>
  <div class="card-example">
    <h4>Heading</h4>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </div>
  <div class="card-example">
    <h4>Heading</h4>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </div>

  <!-- <div class="overlay"></div> -->

  <!-- <button (click)="highlightVisibility = !highlightVisibility">Toggle</button> -->
</div>
